body{
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
}
.first-section{
     margin-top: 40px;
}
#start-mission{
      font-family: 'Luxurious Roman', cursive;
      border-left:2px solid lightsalmon ;
      padding-left: 10px;
      font-size: 45px;
      
}
p{
     text-align: justify;
     font-size: 15px;
     color: rgb(58, 55, 55);
     
}

.half-width{
     width: 40%;
     float: left;
     margin-left: 5%;
     padding-left: 3%;
}
.half-width img{
     width: 85%;

}
.explore-btn{
     background-color: lightsalmon;
     border: none;
     padding: 10px 22px;
     border-radius: 5px;
     color: black;
     margin-top: 5px;
     margin-bottom: 10px;
     cursor: pointer;
}